*{
    margin: 0;
}
body{
    display: flex;
    justify-content: center;
    background-image: url("pics/background.jpg") ;
}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:black;
    padding: 1em;
}
nav{
    display: flex;
    justify-content: space-around;
    min-width: 25%;
}
#page{
    min-width: 60%;
    background-color:indigo;
}

#hero{
    display: flex;
    justify-content: center;
    font-size: 25px;
    padding:5em 0 5em 0;
}
#produkt{
    background-color: black;
    padding: 1em;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 25px;
}
#vyber{
    display: flex;
    margin: 1em;
    overflow: scroll;
    padding: 1em;
    max-width: 69%;
    overflow-y: hidden;
}
.karta{
    background-color: indigo;
    color: white;
    padding: 0.5em;
    border-radius: 15px;
    margin: 0 1em 0 1em;
}
button{
    background-color: black;
    color: white;
    padding: 0.5em;
    border: 0;
    border-radius: 15px;
}
#kosik {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 15px;
    margin: 15px;
    color: white;
    font-size: 25px;
    min-height: 10em;
}
#produkty{
    padding: 15px;
    margin: 15px;
    color: white;
  }
footer{
    display: flex;
    justify-content: space-around;
    background-color: black;
    font-size: 24px;
    padding: 2em;
}
#objednavka{
    margin: 1em;
}
  
button {
    margin-left: 10px;
    padding: 5px 10px;
  }
.produkt_foto{
    border-radius: 15px;
    width:259px ;
    height:194px ;
}
h1{
    color: white;
}
h2{
    color: white;
}

a{
    color: white;
    font-size: 24px;
}
a:hover{
    color: white;
}
p{
    color: white;
}